.vscode
.cache

archive/
archived/
www/*
traefik/.env
traefik/docker-compose.yml
traefik/portainer/*
traefik/certs
traefik/log
acme.json
*.log
*.log.*

traefik/configs/*
!traefik/configs/tls.yml
!traefik/configs/middlewares.yml

.wp-cli/*
!.wp-cli/config.yml
